* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header, footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #451e3ed9;
    padding: 0 10px;
}
.nav-list li {
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
}
#main{
    position: relative;
    background-image: linear-gradient(220deg, #451e3ed9, #651e3e);
    overflow: hidden;
}
#title {
	border-bottom: 4px solid #451e3ed9;
	border-right: 4px solid #451e3ed9;
	transition: all 0.4s;
    box-shadow: 4px 4px #451e3ed9;
    
    margin: 40px 190px;
    color: #f5deb3;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;
}
#description {
    margin: 20px 40px;
    color: hsl(0, 0%, 88%);
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 17px;
    padding: 0 150px;
}
#overview ul {
    color: hsl(0, 0%, 88%);
}
.container {
    position: relative;
    overflow: hidden;
    display: block;
    width: 800px;
    margin: 10px auto 10px auto;
    background-color: #451e3e;
    padding: 10px 20px;
    border-radius: 0.40rem;
    color: #ffffff
}
.container #overview {
    position: relative;
    z-index: 2;
}
.container #uppercontainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.1;
}
.container .lowerContainer {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;

    align-items: center;
    width: 300px;
    height: 225px;
    margin: 10px;
}
label{
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    line-height: inherit;
}
.control {
    display: block;
    position: relative;
    min-width: 90%;
    min-height: 30px;
    border: 2px;
    border-radius: 0.25rem;
    padding: 0 10px;
}

#submit-button {
    min-width: auto;
    min-height: auto;
    position: relative;
}
#submit {
    border-radius: 10%;
    background-color: #ffffff;
    display: block;
    min-width: 10%;
    min-height: auto;
    padding: 5px;
    margin: auto;
}
h4 {
    color: #f5deb3;
}
#overview p a {
    text-decoration: underline;
}

.linkDiv {
    display: flex;
    align-items: center;
    margin: auto;
}
.lowDiv {
position: relative;
width: 50%;
margin: 20px;
}

.image {
opacity: 1;
display: block;
width: 100%;
height: auto;
transition: .5s ease;
backface-visibility: hidden;
}

.middle {
transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}

.lowDiv:hover .image {
opacity: 0.3;
}

.lowDiv:hover .middle {
opacity: 1;
}

.text {
background-color: #651e3e;
color: white;
font-size: 16px;
padding: 16px 32px;
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #f5deb3; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret 3s step-end infinite;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #f5deb3 }
  }





.web{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.web img {
	width: 300px;
	height: 225px;
	margin: 5px;
	transition: all 0.5s;
}
.web img:hover{
	transform: scale(1.1);
}
















.logo {
    width: 100px;
    height: 50px;
    cursor: pointer;
    margin-right: auto;
}

.nav-list {
    list-style: none;
}

.nav-list li a, .foot-list li a{
    transition: all 0.3s ease 0s;
}

.nav-list li a:hover, .foot-list li a:hover{
    color: rosybrown;
}

li, a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.foot-list {
    margin-right: auto;
    list-style: none;
    line-height: 40px;
}

.email-div {
    display: flex;
    margin: 0 5px;
}

.foot-signup {
    margin-right: auto;
}

input {
    width: 100%;
    height: 30px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

.submit-btn {
    display: block;
    border-radius: 5%;
    width: 30%;
    height: 30px;
    margin: auto;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: rosybrown;
}

.submit-btn:hover {
    color: black;
}
.newsletter-input {
    margin-right: 10px;
}

.conn-logo {
    width: 30px;
    height: 30px;
    margin: 5px;
}
.conn-div {
    text-align: center;
    display: inline-block;
}
.conn {
    color: #ffffff;
}