/*******************************************************
             Styles common to all pages
*******************************************************/
* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/***Navigation Menu***/
.topnav {
    overflow: hidden;
    background-color: #451e3ed9;
    position: relative;
  }
  .topnav #myLinks {
    display: none;
  }
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  .topnav a.icon {
    background: #451e3ed9;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav a:hover {
    background-color: #642a5ad9;
    color: black;
  }
  .active {
    background-color: #451e3ed9;
    color: white;
  }
.logo {
    width: 100px;
    height: 50px;
    cursor: pointer;
    margin-right: auto;
}
.nav-list {
    list-style: none;
}
.nav-list li a, .foot-list li a{
    transition: all 0.3s ease 0s;
}
.nav-list li a:hover, .foot-list li a:hover{
    color: rosybrown;
}

li, a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}
.foot-list {
    margin-right: auto;
    list-style: none;
    line-height: 40px;
}
/*********************************/
header, footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #451e3ed9;
    padding: 0 5px;
}
.nav-list li {
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
}
#main{
    position: relative;
    background-image: linear-gradient(220deg, #451e3ed9, #651e3e);
    overflow: hidden;
}
#title {
    margin-top: 10px;
	border-bottom: 4px solid #451e3ed9;
	border-right: 4px solid #451e3ed9;
	transition: all 0.4s;
    box-shadow: 4px 4px #451e3ed9;
    width: 90%;
    color: #f5deb3;
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    line-height: 1.4;
    text-transform: uppercase;
}
.description {
    color: hsl(0, 0%, 88%);
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 17px;
}
.description2 {
    margin: auto;
    width: 60%;
}
#overview ul {
    color: hsl(0, 0%, 88%);
}
.container {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 10px auto 10px auto;
    background-color: #451e3e;
    padding: 10px 20px;
    border-radius: 0.40rem;
    color: #ffffff
}
.container #overview {
    position: relative;
    z-index: 2;
}
.container #uppercontainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.1;
}
.container .lowerContainer {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    align-items: center;
    width: 300px;
    height: 225px;
    margin: 10px;
}
label{
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    line-height: inherit;
}
.control {
    display: block;
    position: relative;
    min-width: 90%;
    min-height: 30px;
    border: 2px;
    border-radius: 0.25rem;
    padding: 0 10px;
}
h4 {
    color: #f5deb3;
}
#overview p a {
    text-decoration: underline;
}
#overview li {
    color: #f5deb3;
}
.linkDiv, .topDiv {
    display: flex;
    align-items: center;
    margin: auto;
}
.lowDiv, .leftDiv, .rightDiv {
    position: relative;
    width: 50%;
    margin: 20px;
}
.leftDiv {
    width: 30%;
}
.rightDiv {
    text-align: left;
    width: 50%;
}
.foot-signup {
    margin-right: auto;
}
.conn-logo {
    width: 30px;
    height: 30px;
    margin: 5px;
}
.conn {
    color: #ffffff;
}

/*********************************************
            Home Page Styles
**********************************************/
/***********Progress Bars**********************/
.profilePic {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    
}
progress {
	width: 50%;
	height: 14px;
	display: block;
	-webkit-appearance: none;
	border: none;
}
progress::-webkit-progress-bar {
	background: #451e3ed9;
	border-radius: 50px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 #451e3ed9;
}
progress::-webkit-progress-value {
	border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #920a79d9, #fc02d2d9);
	background-size: 25px 14px, 100% 100%, 100% 100%;
	animation: move 5s linear 0 infinite;
}
@keyframes move {
	0% {background-position: 0px 0px, 0 0, 0 0}
	100% {background-position: -100px 0px, 0 0, 0 0}
}
.progressDiv label {
    color: #ffffff;
}
/*******************************/
.image {
opacity: 1;
display: block;
width: 100%;
height: auto;
transition: .5s ease;
backface-visibility: hidden;
}
.middle {
transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}
.lowDiv:hover .image {
opacity: 0.3;
}
.lowDiv:hover .middle {
opacity: 1;
}
.text {
background-color: #651e3e;
color: white;
font-size: 16px;
padding: 16px 32px;
}
.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #f5deb3; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret 3s step-end infinite;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #f5deb3 }
  }





.progress {
    display: block;
}
.solderingVideo, iframe {
    width: 70%;
    height: 300px;
    display: block;
    border-style:none;
    margin: 10px auto;
}




/**********************************************
            About Page
**********************************************/
.resourcesList li{
    width: auto;
    text-decoration: underline;
    font-style: italic;
    margin-left: 20px;
}
.resourcesList a {
    color: hsl(0, 0%, 88%);
}



/**********************************************
                Projects Page
*********************************************/
.subMain {
    margin: 20px;
}
.web{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.web img {
	width: 300px;
	height: 225px;
	margin: 5px;
	transition: all 0.5s;
}
.web img:hover{
	transform: scale(1.1);
}

/*******************************************
                Contact Page
******************************************/
.reachMe, .group label, .rightDiv label {
    color: #ffffff;
}

.leftDiv .control {
    display: block;
    width: 10%;
    border: 2px;
    border-radius: 0.25rem;
    padding: 0 10px;
    background-color: #451e3ed9;
}
h4 {
    font-weight: normal;
    font-size: 1.2rem;
    color: rgb(194, 173, 173);
}
#submit-button {
    min-width: auto;
    min-height: auto;
    position: relative;
}
#submit {
    border-radius: 10%;
    background-color: #ffffff;
    display: block;
    min-width: 10%;
    min-height: auto;
    padding: 5px;
    margin: auto;
}
.rightDiv .conn-logo {
    width: 10%;
    height: 10%;
    margin: 20px;
}
.leftDiv input, textarea {
    color: #ffffff;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}
::placeholder {
    color: rgb(182, 174, 174);
}
.leftDiv select, .leftDiv option {
    color: #ffffff;
}
.submit-btn {
    display: block;
    border-radius: 5%;
    width: 30%;
    height: 30px;
    margin: auto;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: #451e3ed9;
}
.submit-btn:hover {
    color: black;
}
.contactDiv .leftDiv, .contactDiv .rightDiv {
    width: 50%;
}
.leftDiv textarea {
    width: 100%;
    background-color: #451e3ed9;
}
.rightDiv a {
    text-decoration: underline;
}




/***********************************************
                Media Queries
*********************************************/
/***Mobile***/
@media screen and (max-width: 600px) {
header, footer {
    width: 100%;
    display: block;
}
.topnav2 {
    display: none;
}
.description2 {
    width: 90%;
}
footer {
    display: table;
    width: 100%;
}
.nav-list li {
    display: block;
}
.foot-signup {
    text-align: center;
    margin: auto;
    display: table-footer-group;
}
.topDiv {
    display: block;
    align-items: center;
    margin: auto;
}
.leftDiv {
    margin: auto;
    width: 50%;
}
.rightDiv {
    margin: 10px;
    text-align: left;
    width: 95%;
}
.container {
    width: 90%;
}
.contactDiv .leftDiv, .contactDiv .rightDiv {
    width: 90%;
}
.leftDiv .description2 {
    width: 100%;
}
.reachMe {
    text-align: center;
}
  }
  /***Tablet***/
@media screen and (min-width: 601px) and (max-width: 1000px) {
    .topnav2 {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .topnav {
        display: none;
    }
    .container {
        width: 80%;
    }
    .calDiv {
        display: flex;
    }
  }
  /***PC/Desktop***/
@media screen and (min-width: 1001px) {
    .topnav2 {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .topnav {
        display: none;
    }
    .container {
        width: 60%;
    }
  }
  /***********************************************************************************************************
******************************                  END                 ******************************************
  ***********************************************************************************************************/